@font-face {
  font-family: "iconfont"; /* Project id 2600607 */
  src: url("//at.alicdn.com/t/font_2600607_i1fm1sxbrv.woff2?t=1627804802971") format("woff2"),
    url("//at.alicdn.com/t/font_2600607_i1fm1sxbrv.woff?t=1627804802971") format("woff"),
    url("//at.alicdn.com/t/font_2600607_i1fm1sxbrv.ttf?t=1627804802971") format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
